@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Import custom GitHub Markdown styles */
/* @import "./github-markdown.css"; */

/* Override dark mode prose unordered list marker color */
.prose
  :where(ul > li):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::marker {
  /* color: var(--tw-prose-bullets); */
  color: var(--tw-prose-counters);
}

/******************************************************************************/
/* COPY CODE BLOCK TO CLIPBOARD */
/******************************************************************************/
/* Configure positioning and overflow for the div wrapped around the pre, */
/* the pre and copy button */
div.pre-code-wrapper {
  position: relative;
}
pre {
  overflow-x: auto;
}
button.copy-btn {
  position: absolute;
  top: 0;
  right: 0;

  /* Aesthetics: */
  margin: 0.3rem;
  padding: 0.25rem;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  border-radius: 0.5rem;
}
button.copy-btn:hover {
  /* Aesthetics: */
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
/* Add effect to indicate copy to clipboard was successful */
/* Define the animation */
@keyframes buttonCopyEffect {
  0% {
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }
  15% {
    background-color: green;
  }
  100% {
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }
}
/* Apply the animation to a class */
.copy-effect {
  animation: buttonCopyEffect 1.5s; /* Adjust the duration as needed */
}
