@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Import custom GitHub Markdown styles */
/* @import "./github-markdown.css"; */

/* Override dark mode prose unordered list marker color */
.prose
  :where(ul > li):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::marker {
  /* color: var(--tw-prose-bullets); */
  color: var(--tw-prose-counters);
}

/******************************************************************************/
/* COPY CODE BLOCK TO CLIPBOARD */
/******************************************************************************/
/* Add copy button inside <pre>, should appear in the top-right of the <pre> */
pre {
  position: relative;
}
button.copy-btn {
  position: absolute !important;
  top: 0;
  right: 5px;
}
/* Add effect to indicate copy to clipboard was successful */
/* Define the animation */
@keyframes buttonCopyEffect {
  0% {
    background-color: initial;
  }
  15% {
    background-color: green;
  }
  100% {
    background-color: initial;
  }
}
/* Apply the animation to a class */
.copy-effect {
  animation: buttonCopyEffect 2s; /* Adjust the duration as needed */
}
